@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon";
@import "../fonts/fontello/css/fontello.scss";
@import "custom/_base.scss";
@import "custom/_colors.scss";
@import "_plugins.scss";
@import "_modules.scss";

.enp-editor_body {
	background: $cl-greyD;
}
.enp-editor_wrapper { 
	font-size: 12px;
	font-family: "Roboto";
	height: 100%;
	width: 100%;
	.enp-editor_header {
		height: 15px;
		background: $cl-greyE;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 100;
		.enp-editor_ruler {
			height: 15px;
			background: url("../images/ruler.jpg") left bottom repeat-x #fff;
		}

	}
	.enp-editor_actionbar {
		background: $cl-grey4;
		position: fixed;
		bottom: 0;
		left: 0;
		color: $cl-white;
		height: 40px;
		right: 0;
		text-align: center;
		ul {
			list-style: none;
			display: block;
			width: 160px;
			margin: 0 auto;
			li {
				float: left;
				margin: 0 5px;
				&.is-active {
					a {
						color: yellow
					}
				}
				a {
					color: $cl-white;
					font-size: 21px;
					height: 40px;
    				line-height: 40px;
    				&:hover {
    					color: yellow
    				}
				}
			}
		}
	}
	.enp-editor_scene {
		color: $cl-grey2;
		padding-top: 15px;
		.enp-editor_sceneContent {
			height: 400px;
			width: 1200px;
			background: #fff;
			position: relative;
		}
		.enp-editor_sceneHandlerHorz {
			background-color: gray;
		    bottom: 0;
		    cursor: ew-resize;
		    font-size: 14px;
		    line-height: 5px;
		    position: absolute;
		    right: -5px;
		    top: 0;
		    display: block;
		    width: 5px;
		    &:before {
		    	color: white;
			    content: "• • •";
			    margin-top: -15px;
			    position: absolute;
			    top: 50%;
			    width: 5px;
		    }
		    &:hover {
		    	background: $cl-grey2;
		    }
		}
		.enp-editor_sceneHandlerVert {
			background-color: gray;
		    bottom: -5px;
		    cursor: ns-resize;
		    font-size: 14px;
		    position: absolute;
		    right: -5px;
		    left: 0;
		    display: block;
		    height: 5px;
		    &:before {
		    	color: white;
			    content: "• • •";
			    margin-left: -15px;
			    position: absolute;
			    left: 50%;
			    top: -6px;
			    width: 45px;
		    }
		    &:hover {
		    	background: $cl-grey2;
		    }
		}
		.enp-editor_sceneSize {
			color: $cl-grey4;
			text-align: left;
			font-size: 9px;
			text-indent: 5px;
			line-height: 15px;
			position: absolute;
		    right: -50px;
		    top: 5px;
		}
		.enp-editor_sceneSave {
			color: $cl-white;
			padding: 2px 10px;
			background: $cl-grey9;
			text-align: left;
			font-size: 9px;
			text-indent: 5px;
			line-height: 15px;
			position: absolute;
		    right: -60px;
		    top: 25px;
		    cursor: pointer;
		}
		.enp-editor_aceHolder {
	        position: absolute;
	        top: 0;
	        right: 0;
	        bottom: 0;
	        left: 0;
		}
	}
	.enp-editor_sidebar {
		background: $cl-grey3;
		width: 15%;
		color: $cl-white;
		position: fixed;
		right: 0;
		top: 15px;
		bottom: 0;
	}
}


.enp-editor_pages {
	display: none;
	margin: 0 auto 50px;
	background: $cl-white;
	font-family: sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	&.is-active {
		display: block;
	}
	.enp-editor_pagesList {
		padding: 20px 50px;
		background: $cl-white;
		list-style: none;
		border-radius: 3px;
	}
	.enp-editor_pagesItem {
		padding: 10px;
		text-align: center;
		display: inline-block;
		position: relative;
		a {
			display: block;
			height: 45px;
			padding: 0 15px;
			color: $cl-primary;
			font: normal 14px/45px sans-serif; 
			text-decoration: none;
			transition: background 0.3s;
			&:hover {
				background: $cl-greyE;
			}
		}
		span {
			position: absolute;
			color: $cl-red;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.m-btn_primary {
		background: $cl-primary;
		border-radius: 3px;
		height: 35px;
		color: $cl-white;
		font: 400 14px/35px sans-serif;
		padding: 0 15px;
		display: inline-block;
		text-decoration: none;
		margin: 15px 0;
	}
}
